@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  text-align: center;
  font-family: Open Sans;
  margin: 0;
  padding: 0;
}

header {
  background-color: #404041;
  width: 100%;
  height: auto;
  position: relative;
}

i {
  color: #e6e7e8;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 25px 5px -25px;
  transition: color 0.2s ease;
}

i:hover {
  color:#ED458B;
}

h1 {
  margin: 0 auto;
}

.pink {
  font-weight: 900;
  color: #ED458B;
}

.guesser {
  font-weight: lighter;
  color: #e6e7e8;
  -webkit-font-smoothing: antialiased;
}

.main {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 480px;
}

form {
  margin: 5%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

input {
  width: 250px;
  display: block;
  margin: 0 auto;
}

button {
  width: 105px;
  height: 25px;
  transition: background 0.2s ease;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: none;
  color: #FFFFFF;
  background-color: #929497;
}

.top-wrapper {
  width: 100%;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
}

#guessButton {
float: left;
}

#clear {
float: right;
}

#guessDisplay {
  font-size: 100px;
  color:#EB008B;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
}

#reset {
  width: 250px;
  margin: 0 auto;
}

button:hover {
  background-color: #EB008B;
}

button:disabled {
  background-color: #D0D2D3;
}

#modifier {
  transition: height 0.2s ease;
  background-color: #404041;
  width:25%;
  position: absolute;
  right: 0;
  padding: 0px 5px 20px 5px;
}

#modifier p {
  color: #e6e7e8;
}

#rangeButton {
  display: block;
  margin:0 auto;
  margin-top: 10px;
}

.range {
  margin: 5px;
}

.set-range {
  width:30px;
  margin: 7px 7px 7px 10px;
  display: inline;
}

label {
  display: inline;
  color: #e6e7e8;
}

@media all and (max-width: 500px) {
  #modifier {
    position: relative;
    background-color: white;
  }

  #modifier p {
    color: #404041;
  }

  .main {
    height: 580px;
  }

  label {
    color:#404041;
  }
}

#timer {
  background-image:
     -webkit-linear-gradient(-45deg, 
                             transparent 33%, rgba(0, 0, 0, .1) 33%, 
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
